div.box-login div.login-form{
    padding-top: 30px;
    float: right;
}

div.box-login button{
    width: 212px;
    height: 42px;
    line-height: 32px;
    background: #e71a0f;
    border: hidden;
    align-items: center;
}
div.box-login span{
    display: inherit;
    width: 205px;
    height: 30px;
    border: 1px solid white;
    color: white;
    font-size: larger;
    font-family: "NanumBarunGothic";
    font-weight: bold;
    background: red;
}
div.box-login{
    padding: 70px 100px 0px 100px;
    border: 2px solid gray;
    height: 240px;
    border-left: hidden;
    border-right: hidden;
}
div.login input[type="text"]{
    padding: 3px 0 3px 40px;
    margin-bottom:5px;
    background: url("../imgs/login_logo.png") 5px -236px no-repeat;
}

div.login input[type="password"]{
    padding: 3px 0 3px 40px;
    margin-bottom:5px;
    background: url("../imgs/login_logo.png") 5px -267px no-repeat;
}

